@import "../../vars.css";

.navbar {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  background: var(--color-bg);
  z-index: 10;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menuBtn {
  display: none;
  cursor: pointer;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItem {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.menuItem::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--color-primary);
  transition: width 0.3s ease;
}

.menuItem:hover {
  color: var(--color-primary);
}

.menuItem:hover::after {
  width: 100%;
}

@media screen and (max-width: 830px) {
  .navbar {
    padding: 15px 5%;
  }

  .menu {
    position: relative;
  }

  .menuBtn {
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .menuItems {
    display: none;
    position: absolute;
    right: 0;
    top: 45px;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    background: var(--color-secondary);
    padding: 24px 33px;
  }

  .menuOpen {
    display: flex;
  }
}
